.emailList {
    flex: 1;
    overflow: scroll;
}
.emailList::-webkit-scrollbar{
    display: none;
}

.emailList{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.emailist__sesttings{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color:white;
    z-index: 999;
    padding-right: 10px;
}

.emailist__sections {
    position: sticky;
    top: 0;
    display: flex;
    background-color:white;
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
}
.emailist__list {
    padding-bottom: 20%;
}